@model Kutse_pea.Models.Guest

@{
    ViewData["Title"] = "Thanks";
}

<div>
    <p> Tänan sind, @Model.Name </p>
</div>
<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>
            <img src="~/Images/wave-waving.gif" />
        </p>
    }
    else
    {
        @:Väga kurb uudis. Näeme hiljem!
        <p>
            <img src="~/Images/wave-waving.gif" />
        </p>
    }
    @ViewBag.Message @* отчет об отправке письма *@
</div>